{% load static %}
{% load utils %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
     href="{% static 'weight/css/style.css'%}">
    <title>{{title}}</title>
  </head>
  <body>
    <table>
      <tr>
        <th>経過日</th>
        <th>Weight</th>
        <th>Height</th>
        <th>BMI</th>
        <th>肥満度</th>
        <th>date</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
      {% for item in data %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.weight}}</td>
        <td>{{item.height}}</td>
        {% with item.weight|bmicalculation:item.height as bmi_check %}
        <td>{{bmi_check}}</td>
        {% if bmi_check < 18.5 %}
            <td>痩せ型</td>
        {% elif bmi_check >= 18.5 and bmi_check < 25 %}
            <td>標準体型</td>
        {% elif bmi_check >= 25 and bmi_check < 30 %}
            <td>肥満(軽)</td>
        {% else %}
            <td>肥満(重)</td>
        {% endif %}
        {% endwith %}
        <td>{{item.date}}</td>
        <td><a href="{% url 'edit' item.id %}">edit</a></td>
        <td><a href="{% url 'delete' item.id %}">delete</a></td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'create'%}">体重、身長を記録する</a>
  </body>
</html>